{% extends "base.html" %}

{% block content %}

<p>    
<b>

Jorge Garcia, instructional technologist and amateur bird photographer from <a href="https://makersinchicago.org">Chicago</a>.
</b>
<br><br>
{{ AUTHOR_INTRO }}
<br><br>
To best reach me, shoot me an email at <a href="mailto:jorge@jorgegarcia.io">jorge@jorgegarcia.io</a>.
<br><br>
<img src="/images/electro.jpg">
<img src="/images/moonshot.jpg">
<img class="wide" src="/images/atcpl.jpg">
<img class="wide" src="/images/atym.jpg">
<img class="wide" src="/images/cardinal-by-yorick.jpeg">
</p>
{% endblock content %}