{% extends "base.html" %}

{% block content %}

<p>
<b>
Jorge Garcia, Instructional Technologist & Tinkerer from Chicago
</b>
<br>
<br>
Most of my efforts recently are centered around 
<a href="https://makersinchicago.org">Makers in Chicago</a>

I make, break, and fix things to learn– teaching and consulting on consumer technology along the way.  
<br><br>
To best reach me, shoot me an <a href="mailto:jorge@jorgegarcia.io">email</a>.
</p>
<hr>
I'm a maker culture professional and instructional designer from <a href="https://makersinchicago.org">Chicago</a>.
{% endblock content %}