/*
Design by Jorge Garcia
jorge@jorgegarcia.io
*/

body {
	font-family: 'Roboto', sans-serif;
	color: #7D7D7D;
	overflow-y:scroll;
}

.logo {
	width: 100%;
	margin-top: 3rem;
}

.banner {
	margin:  0 auto;
	display: table;
	text-align: center;
	padding-bottom: .5rem;
	border-bottom: 4px solid #000;
}

.banner > h1 {
	font-family: 'Courier New';
	font-size: 2.8rem;
	border: .125rem solid #fff;
}

.bannerpurp {
	border-top: 4px solid #9771B0;
	margin-top: 1rem;
}

h1 {
	font-size: 3.2rem;
	font-weight: 900;
	color: #4D4D4D;
	width: auto;
	font-family: 'Courier New', sans-serif;
	border-bottom: 4px solid;
	border-image-source: linear-gradient(90deg, #9771B0, #fff, #fff);
	border-image-slice: 1;
}

sub {
	line-height: normal;
}

a {
	text-decoration: none;
	color: #673ab7;
}

h1 > a{
	color: #4D4D4D;
}

.address {
	font-size: .9rem;
	margin-top: -.5rem;
	margin-bottom: 5px;
}

a:hover {
	text-decoration: underline;
}

p > img {
	width: 100%;
	display: inline-block;
	border-radius: 2rem;
	margin-bottom: .42rem;
  }

p > a > img {
	max-width: 200px;
	width: 100%;
	display: inline-flex;
	margin: 0 auto;
	border-radius: 1rem;
	margin: .42rem auto .42rem auto;
}
li.current{
	font-weight: 700;
	text-decoration: underline;

}

#content {
	padding-top: 1em;
	border-radius: 2rem;
	border-width: .3rem;
	border-width: 5px;
	border-style: none;
	border-color: red;
}

.info {
	width: 100%;
}

#cats {
	font-weight: 700;
	color: #8d6fa0;
}

.category {
	margin-top: 10px;
}

.tag-btn {
	background-color: #4D4D4D;
}

.cat-btn {
	background-color: #2f6184;
}

.btn:hover {
	background-color: #2f8452;
}

.title {
	margin: 0;
}
.btn {
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	margin-bottom:5px;
	text-align:center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
}

.btn:hover {
	text-decoration: none;
	-webkit-transition:
		background-color .3s,
		color .15s,
		box-shadow .3s,
		opacity 0.3s,
		filter 0.3s;
	transition:
		background-color .3s,
		color .15s,
		box-shadow .3s,
		opacity 0.3s,
		filter 0.3s;
}

.sheet {
	height: 100%;
	margin-top: 20px;
	padding: 0px 20px 20px 20px;
	border-left: 3px solid #b2b2b2;
	border-top: 3px solid #b2b2b2;
	border-top-left-radius: 20px;
}

#post-list {
	 max-width: 720px;
	 margin: 0 auto;
}

.post-info {
	font-size: .9rem;
}

.sitename {
	margin: 0px;
}

ul.nav {
	text-align: center;
	padding-inline-start: 0px;
}
.social {
	margin: auto 0;
	padding: inherit;
}
ul.nav li {
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
	font-family: 'Courier New';
	font-weight: 400;
	font-size: 1.4em;
	text-transform: lowercase;
	list-style: none;
}


.social li {
	display:inline-block;
	list-style: none;
	padding-left:1em;
	padding-right:1em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1.1em;
}

.intro-description {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: .9em;
}
.row {
	max-width: 900px;
	margin: auto;
}

#top {
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	border-radius: 2rem;
}

.text-center {
	text-align: center;
}

.sig {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: .75em;
}

img.avatar {
	width: 100px;
	float: left;
    vertical-align: middle;
    border-radius: 50%;
}

details {

}

summary {

}

blockquote > p {
	margin-top: -1em;
}

@media (min-width: 768px) {
p > img {
	max-width: 49%;
  }
}
